@import url('base.css');
/* 头部 */
header{
	width: 100%;
	height: 100px;
}
.main{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.mainL{
	float: left;
	width: 500px;
	height: 100%;
	padding-left: 300px; 
	background: url('../img/foot1.png') left center no-repeat;
	box-sizing: border-box;
}
.mainL>h1{
	font-size: 22px;
	font-weight: bold;
	line-height: 100px;
	color: #555;
}
.mainR{
	float: right;
	width: auto;
	height: 100%;
	padding: 40px 0;
	box-sizing: border-box;
}
.mainR>a{
	display: block;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
}
.mainR>a:hover{
	color:#db5500;
}
/* 内容 */
section{
	position: relative;
	width: 100%;
	height: 430px;
	background: url('../img/loginimg.jpg') no-repeat;
	background-size: 100% 100%;
	margin-bottom: 50px;
}
.loginM{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.login{
	position: absolute;
	top: 50%;
	margin-top: -125px;
	width: 350px;
	height: 250px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 8px;
	padding: 30px 30px;
	box-sizing: border-box;
}
input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #4a9cd6;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0);
}
input:focus{
	outline: none;
}
.login>h1{
	display: block;
	font-size: 16px;
	color: #111;
	line-height: 30px;
	text-align: right;
}
.login>h1>a{
	color: #db5500;
}
button{
	width: 100%;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid rgba(255, 0, 0, 1.0);
	margin-top: 10px; 
	cursor: pointer;
	background-image: -webkit-linear-gradient(top,rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 1.0));
	color: #fff;
}
button:focus{
	outline: none;
}
/* 底部 */
footer{
	width: 100%;
}
footer>p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #777;
}